@model LivresViewModel

@{
    ViewBag.Title = "Index";
}

<span>Quantité livres : @Model.qteLivres</span>

<table>
    @foreach (var livre in Model.listeLivres)
    {
        <tr>
            <td>Titre : @livre.Titre </td>
            <td>Auteur : @livre.AuteurDuLivre </td>
            <td>Date de parution : @livre.DateDeParution </td>
        </tr>
    }

    

</table>


@Html.DropDownList("ListeLivres", (SelectList)ViewBag.ListeLivres)
